/* utility-first */
.grid {
  display: grid;
}

.grid-flow-collum {
  grid-auto-flow: column;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

.grid-collum-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sm {
  font: var(--text-sm);
}