/* utility-first */
.grid {
  display: grid;
}

.grid-flow-collum {
  grid-auto-flow: column;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

.grid-collum-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}